<h2>Productos</h2>
<p-button (click)="showCreateBox()" label="Nuevo Producto" class="margin-buttom"></p-button>
<p-table styleClass="p-datatable-striped" [value]="productos" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
            <th>Descripción</th>
            <th pSortableColumn="costo">Costo <p-sortIcon field="costo"></p-sortIcon></th>
            <th pSortableColumn="precio">Precio <p-sortIcon field="precio"></p-sortIcon></th>
            <th pSortableColumn="stock">Stock <p-sortIcon field="stock"></p-sortIcon></th>
            <th>Ubicación</th>
            <th pSortableColumn="categoria_nombre">Categoría <p-sortIcon></p-sortIcon></th>
            <th pSortableColumn="proveedor_nombre">Proveedor <p-sortIcon></p-sortIcon></th>
            <th pSortableColumn="negocio_nombre">Negocio <p-sortIcon></p-sortIcon></th>
            <th >Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-producto>
        <tr>
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.costo }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.stock }}</td>
            <td>{{ producto.ubicacion }}</td>
            <td>{{ producto.categoria_nombre }}</td>
            <td>{{ producto.proveedor_nombre }}</td>
            <td>{{ producto.negocio_nombre }}</td>
            <td >
                <p-button styleClass="p-button-secondary" (click)="showEditBox(producto)" icon="pi pi-pencil"></p-button>
                <p-button styleClass="p-button-danger" (click)="eliminarProducto(producto.id)" icon="pi pi-trash"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold bolder">Datos del Producto</span>
    </ng-template>

    <p class="bolder">Nombre</p>
    <input type="text" pInputText [(ngModel)]="nuevoProducto.nombre" />
    
    <p class="bolder">Descripción (opcional)</p>
    <input type="text" pInputText [(ngModel)]="nuevoProducto.descripcion" />
    
    <p class="bolder">Costo (opcional)</p>
    <input type="number" [min]="0" pInputText [(ngModel)]="nuevoProducto.costo" />
    
    <p class="bolder">Precio</p>
    <input type="number" [min]="0" pInputText [(ngModel)]="nuevoProducto.precio" />
    
    <p class="bolder">Stock (opcional)</p>
    <input type="number" [min]="0" pInputText [(ngModel)]="nuevoProducto.stock" />
    
    <p class="bolder">Ubicación (opcional)</p>
    <input type="text" pInputText [(ngModel)]="nuevoProducto.ubicacion" />
    
    <p class="bolder">Categoría (opcional)</p>
    <p-dropdown [options]="categorias" [(ngModel)]="categoriaSeleccionada" optionLabel="nombre" [showClear]="true" placeholder="Selecciona una categoría"></p-dropdown>
    
    <p class="bolder">Proveedor (opcional)</p>
    <p-dropdown [options]="proveedores" [(ngModel)]="proveedorSeleccionado" optionLabel="nombre" [showClear]="true" placeholder="Selecciona una categoría"></p-dropdown>

    <p class="bolder">Negocio</p>
    <p-dropdown [options]="negocios" [(ngModel)]="negocioSeleccionado" optionLabel="nombre" [showClear]="false" placeholder="Selecciona una categoría"></p-dropdown>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="grabarProducto()" label="Guardar" styleClass="p-button-primary"></p-button>
    </ng-template>
</p-dialog>


<p-toast></p-toast>
<p-confirmDialog [style]="{width: '30vw'}"></p-confirmDialog>
